<h2>Heroes List</h2>
<p-table [value]="heroes">
  <ng-template pTemplate="header">
    <tr>
      <th>
        <div>
          Name
          <p-columnFilter
            type="text"
            field="name"
            display="menu"
          ></p-columnFilter>
        </div>
      </th>
      <th>
        <div>
          Universe
          <p-columnFilter
            type="text"
            field="universe.name"
            display="menu"
          ></p-columnFilter>
        </div>
      </th>
      <th>
        <div>
          Powers
          <p-columnFilter
            type="text"
            field="powers"
            display="menu"
          ></p-columnFilter>
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-hero>
    <tr>
      <td>{{ hero.name }}</td>
      <td>{{ hero.universe?.name }}</td>
      <td>{{ hero.powers }}</td>
      <td>
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteHero(hero.id)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<button
  pButton
  pRipple
  label="New Hero"
  icon="pi pi-plus"
  class="p-button-success mr-2"
  (click)="showDialog()"
></button>

<p-dialog
  [(visible)]="heroDialog"
  [style]="{ width: '450px' }"
  header="Hero Details"
  [modal]="true"
  styleClass="p-fluid"
  (onHide)="hideDialog()"
>
  <ng-template pTemplate="content">
    <div class="field">
      <label for="name">Name</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="hero.name"
        required
        autofocus
      />
    </div>

    <button
      pButton
      pRipple
      label="Create"
      icon="pi pi-plus"
      class="p-button-success mr-2"
      (click)="createHero()"
    ></button>
  </ng-template>
</p-dialog>
